[Unit]                                                                                                              
OnFailure=emergency.target
OnFailureJobMode=isolate
[Service]
Type=simple
StandardOutput=journal
StandardError=journal
ExecStart=bash -c "sleep 30; systemctl list-jobs --after --before; false"
[Install]                                                                                                                                                
RequiredBy=basic.target
