[Service]
Type=simple
StandardOutput=journal
StandardError=journal
ExecStart=echo "fatal: tracker issue workaround engaged for https://github.com/coreos/fedora-coreos-tracker/issues/1233"
#ExecStart=bash -c "sleep 30; systemctl list-jobs --after --before; false"
[Install]
RequiredBy=basic.target
